<!DOCTYPE html>

<html lang="en" style="font-size: 100px;">

<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="expires" content="0"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>test css3 and h5 api</title>
  <link rel="icon" href="assets/images/logo.ico" type="image/png">
  <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .flex-box-1 {
      width: 3rem;
      height: 2rem;
      background-color: gray;
      display: flex;
      align-content: stretch;
      justify-content: space-between;
    }

    .flex-box-1 span {
      flex-basis: 25%;
      background-color: green;
      color: white;
      font-size: .2rem;
    }
  </style>
</head>
<body>
  <div class="flex-box-1">
    <span>1</span>
    <span>2</span>
    <span>3</span>
  </div>
</body>

</html>
