<!DOCTYPE html>

<html lang="en" style="font-size: 100px;">
<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="expires" content="0"> -->
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
  <title>test css3 and h5 api</title>
  <link rel="icon" href="assets/images/logo.ico" type="image/png">
  <style>
    body{
      font-size: .12rem;
      line-height: .2rem;
    }
    *{
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <h1>download books</h1>
  <a href="assets/books/JavaScript DOM编程艺术 第2版.pdf">JavaScript DOM编程艺术 第2版</a><br/>
  <a href="assets/books/JavaScript启示录.pdf">JavaScript启示录</a><br/>
  <a href="assets/books/JavaScript权威指南(第6版)(中文版).pdf">JavaScript权威指南(第6版)(中文版)</a><br/>
  <a href="assets/books/JavaScript模式.pdf">JavaScript模式</a><br/>
  <a href="assets/books/JavaScript设计模式.pdf">JavaScript设计模式</a><br/>
  <a href="assets/books/JavaScript语言精粹.pdf">JavaScript语言精粹</a><br/>
  <a href="assets/books/JavaScript面向对象编程指南.pdf">JavaScript面向对象编程指南</a><br/>
  <a href="assets/books/Javascript高效图形编程.pdf">Javascript高效图形编程</a><br/>
  <a href="assets/books/数据结构与算法JavaScript描述.pdf">数据结构与算法JavaScript描述</a><br/>
</body>
</html>
