<!DOCTYPE html>

<html lang="en" style="font-size: 100px;">

<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="expires" content="0"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>test css3 and h5 api</title>
  <link rel="icon" href="assets/images/logo.ico" type="image/png">
  <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-size: .12rem;
    }
    .box {
      display: inline-block;
      width: 300px;
      list-style: none;
      margin: 10px;
      border: 1px solid #bbb;
      transition: all .5s ease;
    }

    li {
      height: 30px;
      line-height: 30px;
      text-align: center;
    }

    li:hover {
      background-color: #f0f0f0;
    }

    .recieved-box {
      cursor: pointer;
    }

    .recieved-box li {
      background-color: #f0f0f0;
      border-bottom: 1px solid #bbb;
      transition: all .5s ease;
    }

    .recieved-box li:last-of-type {
      border: 0;
    }
  </style>
</head>
<body>
  <ul class="box">
    <li draggable="true"><img src="assets/images/rc-code.jpg" width="30" /></li>
    <li draggable="true">b</li>
    <li draggable="true">c</li>
  </ul>

  <ul class="box recieved-box" droppable="true">
    <li>1</li>
    <li class="enable">2</li>
    <li>3</li>
  </ul>

  <script>
    var dragDom = document.querySelector('.box')
    var recieveDom = document.querySelector('.recieved-box')

    function isUpPos(ev) {
      // console.info(ev.pageX, ev.pageY, ev.target.getClientRects(), ev.target.getBoundingClientRect(), ev.target.offsetLeft, ev.target.offsetTop)
      const pageY = ev.pageY
      const rect = ev.target.getBoundingClientRect()
      const isUp = pageY - rect.top <= rect.height/2
      // console.info(pageY, rect.top, pageY-rect.top, rect.height/2, isUp)
      return isUp
    }

    function addDom(ev) {
      let data = JSON.parse(ev.dataTransfer.getData('application/json'))
      let newNoed = document.createElement('li')
      const isUp = isUpPos(ev)

      // console.info(data)

      newNoed.innerHTML = data.html
      if (isUp) {
        ev.target.parentNode.insertBefore(newNoed, ev.target)
      } else {
        // console.info(ev.target.nextElementSibling, ev.target.previousElementSibling)
        ev.target.parentNode.insertBefore(newNoed,ev.target.nextElementSibling)
      }
      ev.dataTransfer.clearData('application/json')
    }

    function setDragImage(ev) {
      var img = new Image(); 
      img.src = 'assets/images/logo.ico'; 
      ev.dataTransfer.setDragImage(img, 10, 10);
    }
  
    function highlightLine(ev) {
      const isUp = isUpPos(ev)
      ev.target.style.backgroundColor = '#fff'
      ev.target.style.border = '1px solid red'
      if (isUp) {
        ev.target.style.borderWidth = '1px 0 0 0'
      } else {
        ev.target.style.borderWidth = '0 0 0 1px'
      }
    }

    function removeHighLight(ev) {
      ev.target.removeAttribute('style')
    }
    
    dragDom.addEventListener('dragstart', function dragstart_handler(ev) {
      // console.info(ev.dataTransfer.types)
      // setDragImage(ev)
      // ev.dataTransfer.setData("text/plain", '99999999999');
      // ev.dataTransfer.setData("text/html", ev.target.outerHTML);
      // ev.dataTransfer.setData("text/uri-list", ev.target.ownerDocument.location.href);
      ev.dataTransfer.setData('application/json', JSON.stringify({a:1, b:2, html: ev.target.outerHTML}))
      // console.log("dragStart:", ev);
    })
    dragDom.addEventListener('drag', function dragstart_handler(ev) {
      // console.log("drag:", ev);
      ev.preventDefault()
    })
    dragDom.addEventListener('dragend', function dragstart_handler(ev) {
      // console.log("dragend:");
    })
    
    recieveDom.addEventListener('dragexit', function dragstart_handler(ev) {
      // console.log("dragexit");
      ev.preventDefault()
    })
    recieveDom.addEventListener('dragenter', function dragstart_handler(ev) {
      // console.log("dragenter");
      ev.preventDefault()
    })
    recieveDom.addEventListener('dragleave', function dragstart_handler(ev) {
      // console.log("dragleave");
      removeHighLight(ev)
      ev.preventDefault()
    })
    recieveDom.addEventListener('dragover', function dragstart_handler(ev) {
      const className = ev.target.className
      const isCanDrag = className.indexOf('enable') >= 0
      ev.dataTransfer.dropEffect = isCanDrag ? 'copy' : 'none' // link move copy
      if (isCanDrag) {
        ev.target.style.cursor = "grapping"
        highlightLine(ev)
      }
      ev.preventDefault()
    })
    recieveDom.addEventListener('drop', function dragstart_handler(ev) {
      // console.log("drop")
      addDom(ev)
      removeHighLight(ev)
      ev.preventDefault()
    })
  </script>
</body>
</html>
